#row {
  background-image: linear-gradient(90deg, #222, black);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1400px;
}
#row div {
  width: 200px;
  height: 200px;
  background-color: brown;
  text-align: center;
  line-height: 200px;
  font-size: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
#row div:nth-child(1) {
  transform: translateZ(-100px) translateX(0px) rotateY(-45deg);
  background-color: #9d2828;
  z-index: -1;
  box-shadow: 0 0 3px 5px #1d1d1d;
}
#row div:nth-child(2) {
  transform: translateZ(-200px) translateX(100px) rotateY(-45deg);
  background-color: #952626;
  z-index: -2;
  box-shadow: 0 0 3px 5px #181818;
}
#row div:nth-child(3) {
  transform: translateZ(-300px) translateX(200px) rotateY(-45deg);
  background-color: #8d2424;
  z-index: -3;
  box-shadow: 0 0 3px 5px #131313;
}
#row div:nth-child(4) {
  transform: translateZ(-400px) translateX(300px) rotateY(-45deg);
  background-color: #842222;
  z-index: -4;
  box-shadow: 0 0 3px 5px #0e0e0e;
}
#row div:nth-child(5) {
  transform: translateZ(-500px) translateX(400px) rotateY(-45deg);
  background-color: #7c2020;
  z-index: -5;
  box-shadow: 0 0 3px 5px #090909;
}
#row div:nth-child(6) {
  transform: translateZ(-600px) translateX(500px) rotateY(-45deg);
  background-color: #741e1e;
  z-index: -6;
  box-shadow: 0 0 3px 5px #030303;
}
#row div:nth-child(7) {
  transform: translateZ(-700px) translateX(600px) rotateY(-45deg);
  background-color: #6c1c1c;
  z-index: -7;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(8) {
  transform: translateZ(-800px) translateX(700px) rotateY(-45deg);
  background-color: #641919;
  z-index: -8;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(9) {
  transform: translateZ(-900px) translateX(800px) rotateY(-45deg);
  background-color: #5c1717;
  z-index: -9;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(10) {
  transform: translateZ(-1000px) translateX(900px) rotateY(-45deg);
  background-color: #541515;
  z-index: -10;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(11) {
  transform: translateZ(-1100px) translateX(1000px) rotateY(-45deg);
  background-color: #4c1313;
  z-index: -11;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(12) {
  transform: translateZ(-1200px) translateX(1100px) rotateY(-45deg);
  background-color: #431111;
  z-index: -12;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(13) {
  transform: translateZ(-1300px) translateX(1200px) rotateY(-45deg);
  background-color: #3b0f0f;
  z-index: -13;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(14) {
  transform: translateZ(-1400px) translateX(1300px) rotateY(-45deg);
  background-color: #330d0d;
  z-index: -14;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(15) {
  transform: translateZ(-1500px) translateX(1400px) rotateY(-45deg);
  background-color: #2b0b0b;
  z-index: -15;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(16) {
  transform: translateZ(-1600px) translateX(1500px) rotateY(-45deg);
  background-color: #230909;
  z-index: -16;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(17) {
  transform: translateZ(-1700px) translateX(1600px) rotateY(-45deg);
  background-color: #1b0707;
  z-index: -17;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(18) {
  transform: translateZ(-1800px) translateX(1700px) rotateY(-45deg);
  background-color: #130505;
  z-index: -18;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(19) {
  transform: translateZ(-1900px) translateX(1800px) rotateY(-45deg);
  background-color: #0b0303;
  z-index: -19;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(20) {
  transform: translateZ(-2000px) translateX(1900px) rotateY(-45deg);
  background-color: #020101;
  z-index: -20;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(21) {
  transform: translateZ(-2100px) translateX(2000px) rotateY(-45deg);
  background-color: black;
  z-index: -21;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(22) {
  transform: translateZ(-2200px) translateX(2100px) rotateY(-45deg);
  background-color: black;
  z-index: -22;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(23) {
  transform: translateZ(-2300px) translateX(2200px) rotateY(-45deg);
  background-color: black;
  z-index: -23;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(24) {
  transform: translateZ(-2400px) translateX(2300px) rotateY(-45deg);
  background-color: black;
  z-index: -24;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(25) {
  transform: translateZ(-2500px) translateX(2400px) rotateY(-45deg);
  background-color: black;
  z-index: -25;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(26) {
  transform: translateZ(-2600px) translateX(2500px) rotateY(-45deg);
  background-color: black;
  z-index: -26;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(27) {
  transform: translateZ(-2700px) translateX(2600px) rotateY(-45deg);
  background-color: black;
  z-index: -27;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(28) {
  transform: translateZ(-2800px) translateX(2700px) rotateY(-45deg);
  background-color: black;
  z-index: -28;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(29) {
  transform: translateZ(-2900px) translateX(2800px) rotateY(-45deg);
  background-color: black;
  z-index: -29;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(30) {
  transform: translateZ(-3000px) translateX(2900px) rotateY(-45deg);
  background-color: black;
  z-index: -30;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(31) {
  transform: translateZ(-3100px) translateX(3000px) rotateY(-45deg);
  background-color: black;
  z-index: -31;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(32) {
  transform: translateZ(-3200px) translateX(3100px) rotateY(-45deg);
  background-color: black;
  z-index: -32;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(33) {
  transform: translateZ(-3300px) translateX(3200px) rotateY(-45deg);
  background-color: black;
  z-index: -33;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(34) {
  transform: translateZ(-3400px) translateX(3300px) rotateY(-45deg);
  background-color: black;
  z-index: -34;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(35) {
  transform: translateZ(-3500px) translateX(3400px) rotateY(-45deg);
  background-color: black;
  z-index: -35;
  box-shadow: 0 0 3px 5px black;
}
#row div:nth-child(36) {
  transform: translateZ(-3600px) translateX(3500px) rotateY(-45deg);
  background-color: black;
  z-index: -36;
  box-shadow: 0 0 3px 5px black;
}